.quizDetails {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-shrink: 0;
}

.detailRow {
  display: flex;
  gap: 0.5rem;
  font-size: 0.625rem;
  line-height: 1.4;
}

.detailKey {
  color: #0277FF;
  font-weight: 700;
}

.detailValue {
  color: #0277FF;
  font-weight: 400;
}
